<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="/img/ico_admin.png" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>안녕하세요<br><p th:if="${sessionScope != null and sessionScope.USERNAME != null}" th:text="${sessionScope.USERNAME}"></p></p>
            <a href="/"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    
    <ul class="sidebar-menu">
        <li class="treeview <c:if test='${navi eq 2 }'> active </c:if>">
            <a href="/">
                <i class="fa fa-envelope-o"></i>
                <span>간편식 주문 현황</span>
                <i class="fa fa-angle-down pull-right"></i>
            </a>
            <ul class="treeview-menu">
				<li><a href="/salad/orderDailyLists"><i class="fa fa-angle-double-right"></i>일별 주문 확인</a></li>
				<li><a href="/salad/orderHists"><i class="fa fa-angle-double-right"></i>간편식 주문 현황</a></li>
                <li><a href="/salad/orderInfos"><i class="fa fa-angle-double-right"></i>간편식 주문 기본정보</a></li>
                <li><a href="/salad/info/new"><i class="fa fa-angle-double-right"></i>간편식 주문 기본정보 등록</a></li>
            </ul>
        </li>
    </ul>
</section>
  <!-- /.sidebar -->