<a href="/" class="logo"> 티시스IT 사내 관리</a>
<nav class="navbar navbar-static-top" role="navigation">
    <a href="/" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
                <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i>
                    <span><p th:if="${sessionScope != null and sessionScope.USERNAME != null}" th:text="${sessionScope.USERNAME}"></p><i class="caret"></i></span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="/img/ico_admin.png" class="img-circle" alt="User Image" />
                        <p th:if="${sessionScope != null and sessionScope.USERNAME != null}" th:text="${sessionScope.USERNAME}"></p>
                        <small th:if="${sessionScope != null and sessionScope.USERNAME != null}" th:text="${sessionScope.USERNAME}"></small>
                    </li>
                    <li class="user-footer">
                        <div class="pull-left">
                            <!-- <a href="#" class="btn btn-default btn-flat">프로필</a> -->
                        </div>
                        <div class="pull-right">
                            <a href="/admin/logout" class="btn btn-default btn-flat">로그아웃</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div th:replace="~{/cms/sessionCk}"></div>