<script type="text/javascript">

	function sessionCheck() {
        $.ajax({
            url: "/check-session", // 세션 정보 조회 API 엔드포인트
            type: "GET",
            success: function(response) {
                if (response != null) {
                    console.log("session.admin:", response.admin);
                    console.log("session.userName:", response.userName);
                    console.log("session.loginTime:", response.loginTime);
                } else {
                    alert("세션이 만료되었습니다.");
                }
            },
            error: function(error) {
                console.log(error);
                alert("세션 정보 조회 중 오류가 발생했습니다.");
                window.location.href = "/admin/login";
            }
        });
    }

</script>